{% extends 'base.html.twig' %}
{% block title %} Create Address Book{% endblock %}
{% block stylesheet %} {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{{ path('store.contact') }}" method="POST" enctype="multipart/form-data">
                {# <input type="hidden" name="token" value="{{ csrf_token('post-data') }}"/> #}
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" name="Firstname" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="Lastname" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone number</label>
                    <input type="email" class="form-control" id="phone_number" name="PhoneNumber" required
                           maxlength="255">
                </div>
                <div class='mb-3 date' id='datetimepicker2'>
                    <label for="birthDay" class="form-label">Birth Day </label>
                    <input type='text'  id="birthDay" class="form-control" name="BirthDay"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>
                <div class="mb-3">
                    <label for="streetNumber" class="form-label">Street Number</label>
                    <input type="text" class="form-control" id="streetNumber" name="StreetNumber" required
                           maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Zip code</label>
                    <input type="text" class="form-control" id="zip" name="Zip" required maxlength="10">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="City" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="Country" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Picture </label>
                    <input class="form-control" type="file" id="formFileMultiple" name="Picture">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#datetimepicker2").datepicker();
});
</script>
{% endblock %}